<section class="cart">

       <!-- when some order is already done  -->
 <% if(session.cart){%>
 <div class=" order container py-8 w-full lg:w-1/2 mx-auto text-center">

    <div class="flex my-4 ">
        <img src="img/cart-black.png" alt="not available">
        <spam class="text-3xl font-bold ml-4">Order Summary</spam>
    </div>
    <hr>

<% for(let pizza of Object.values(session.cart.items)){ %>

  <div class="cart-table flex my-2 mx-auto items-center">
    
         <img  class="w-24" src="img/<%=pizza.item.image%>" >
      
      <div class="flex-1">
         <h1 > <%=pizza.item.name%></h1>
         <h1 > <%=pizza.item.size%></h1>
      </div>

       <span class="flex-1"><%=pizza.qty%> pcs </span>

       <div class="font-bold">RS. <%=pizza.item.price * pizza.qty %></div>

    </div>
<% } %>







<hr>    
  <div class="text-right">

         <div class="my-4">
             <span class="text-lg font-bold">Total Amount Rs :</span>
             <span class="price text-2xl font-bold"><%=session.cart.totalprice %></span>
         </div>

         <% if(user){ %>
            <div>
             <form method="post" action="/order" class="items-center" action="">
                 <input name="address" class="border border-gray-800 mb-4 w-1/2 p-2" placeholder="address" type="text">
                 <input name="contact" class="border border-gray-800 mb-4 w-1/2 p-2"  placeholder="Contact No." type="text">
                 <div>

                     <button class="btn rounded-full px-6 py-2 my-2" type="submit" >Order now</button>
                 </div>
             </form>
            </div>       
             <% }else{ %>
                                <a href="/login"><button class="btn rounded-full px-6 py-2 my-2">continue to loggin </button>  </a>    
                <% } %>
     </div>
</div>
 
<% }else{ %>

<div class="Empty cart mx-auto text-center">
    <h1 class="my-2 font-bold text-3xl ">Cart Empty 😢 </h1>
    <p class="font-gray-500 my-2 text-xl" >You probably haven't ordered a pizza yet.<br>
         To order a pizza go to the main page</p>
         <img  class="w-1/3 mx-auto"src="img/empty-cart.png" alt=" ">
         <button class="btn px-6 py-2 rounded-full my-4"> GO back</button>
</div>
<% } %>
</section>