<section class="orders text-gray-700 body-font">
    <div class="container px-5 py-2 mx-auto">

      <div class="flex flex-col text-center w-full mb-0">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900  ">All Orders</h1>
        <% if(messages){%>
        <div>
        <p id="ordersuccess" class="px-4 py-3 bg-green-900 lg:w-3/4 w-full mx-auto overflow-auto font-bold text-white"><%=messages.success%></p>
    </div>
         <%}%>
      </div>

      <div class="lg:w-3/4 w-full mx-auto overflow-auto">

        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-bold text-gray-900 text-sm bg-gray-200 rounded-tl rounded-bl">Orders</th>
              <th class="px-4 py-3 title-font tracking-wider font-bold text-gray-900 text-sm bg-gray-200">Contact No.</th>
              <th class="px-4 py-3 title-font tracking-wider font-bold text-gray-900 text-sm bg-gray-200">Address</th>
              <th class="px-4 py-3 title-font tracking-wider font-bold text-gray-900 text-sm bg-gray-200">Time</th>       
            </tr>
          </thead>

          <tbody>
            <% if(orders.length){ %>
              <% orders.forEach((order)=>{ %>
               
            <tr>
              <td class=" text-red-500 px-4 py-3">
                <a href="/order/<%= order._id %>">
                  <%= order._id %>
                </a>
              </td>
              <td class="px-4 py-3"><%= order.contact %></td>
              <td class="px-4 py-3"><%= order.address %></td>
              <td class="px-4 py-3"><%= moment(order.updatedAt).format('LLLL') %></td>
          
            </tr>
            <% }) %>
         

           
          </tbody>
        </table>
      </div>
      <% }else{ %>
     
      <div class="flex flex-col text-center w-full mb-0">
        <p class="px-4 py-3 bg-red-900 lg:w-4/5 w-full mx-auto overflow-auto   font-bold text-white"> No Order Found !</p>
      </div>
      <% } %>
    </div>
  </section>